.horizontal-scroll-container {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: scroll;
}
.board-button {
  position: relative;
  display: inline-block;
  width: 400px;
  height: 400px;
  box-shadow: 2px 2px 4px #bbb;
  border-top-right-radius: 4px;
  vertical-align: bottom;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;

  -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(0.5) opacity(.7);
       -moz-filter: brightness(0.5) opacity(.7);
            filter: brightness(0.5) opacity(.7);
}

.board-button:hover{
  -webkit-filter: brightness(1) opacity(.9);
     -moz-filter: brightness(1) opacity(.9);
          filter: brightness(1) opacity(.9);
}

.cc-selector input{
  margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.cc-selector input:active +.board-button {
  opacity: .9;
  border-radius: 2px;
  border-color: red;
}

.cc-selector input:checked +.board-button {
  -webkit-filter: none;
     -moz-filter: none;
          filter: none;
}