.horizontal-scroll-container {
  height: 30%;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
.board-button {
  position: relative;
  display: inline-block;
  margin: 8px 8px;
  box-shadow: 2px 2px 4px #bbb;
  border-top-right-radius: 4px;
  height: 90%;
  vertical-align: bottom;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.board-button:hover {
  transform: scale(105%);
  transition-duration: 300ms;
}

.board-button:active {
  transition-duration: scale(90%);
}