<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Hygiene Heroes Board Game Engine</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
        <script src="https://pixijs.download/release/pixi.js"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">urapBoardGame</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark" href="/">1. Upload Image</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark" href="/setup_board">2. Setup Board</a>
                    <a class="list-group-item list-group-item-dark p-3 text-muted" href="/gamepiece">3. Upload Game Elements</a>
                    <!-- <a class="list-group-item list-group-item-dark p-3 text-muted" href="#!">4. Set Game Rules</a>
                    <a class="list-group-item list-group-item-dark p-3 text-muted" href="#!">5. Add Sound Effects</a>
                    <a class="list-group-item list-group-item-dark p-3 text-muted" href="/game">6. Final Touches</a> -->
                    <a class="list-group-item list-group-item-dark p-3 text-muted" href="/game">4. Final Touches</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">Projects</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">My Account</a>
                                        <a class="dropdown-item" href="#!">Logout</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Register</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid d-flex flex-column justify-content-between">
                    <div class="container-fluid d-flex flex-row justify-content-between">
                        <div class="container-fluid mb-4">
                            <h1 class="mt-4">Set Up Board</h1>
                            <div class="game-container" id="game">
                            </div>

                            <script>
                                ////////////////////////////////////////
                                // Setup for PIXI application
                                ////////////////////////////////////////
                                let gameContainer = document.getElementById("game");
                                let app = new PIXI.Application();
                                let sprites = [];
                              
                                
                                document.getElementById('game').appendChild(app.view)

                                var board_texture = PIXI.Texture.from("{{ board }}");
                                board_texture.on('update', () => {
                                    scaleTo(board, app.renderer.width, app.renderer.height);
                                    app.renderer.render(app.stage);
                                    });

                                let board = new PIXI.Sprite(board_texture)
                                board.interactive = true;
                                
                                sprites.push(board);

                                board.anchor.x = .5;
                                board.anchor.y = .5;
                                board.position.x = app.renderer.width/2;
                                board.position.y = app.renderer.height/2;
                                app.stage.addChild(board)
                                resize();
                                scaleTo(board, app.renderer.width, app.renderer.height);

                                function scaleTo(target, width, height) {
                                    if (target.width > target.height) {
                                        var ratio = width / target.width;
                                    } else {
                                        var ratio = height / target.height;
                                    }
                                    target.scale.x *= ratio
                                    target.scale.y *= ratio
                                }

                                function resize() {
                                    let ratio = gameContainer.clientWidth / gameContainer.clientHeight;
                                    if (gameContainer.clientWidth / gameContainer.clientHeight >= ratio) {
                                            var w = gameContainer.clientHeight * ratio;
                                            var h = gameContainer.clientHeight;
                                        } else {
                                            var w = gameContainer.clientWidth;
                                            var h = gameContainer.clientWidth / ratio;
                                        }
                                    app.renderer.view.style.width = w + "px";
                                    app.renderer.view.style.height = h + "px";
                                }
                                
                                window.onresize = resize;
                            </script>


                            <script>
                                ////////////////////////////////////////
                                // Board setup
                                ////////////////////////////////////////

                                // Configurations for square number markers
                                const textStyle = { fontFamily: 'Arial', fontSize: 24, fill: 0xff1010, align: 'center' }
                                let currentSquare = 1
                                let coordinates = {}
                                let squareMarkers = []
                                let eventSquareNumber = 0
                                let selectedSquare = -1;
                                let phase = "phase-1";

                                // Adds a new marker for the position of a square
                                function onClick(event) {
                                    // Get position of user's click
                                    let xPos = event.data.global.x;
                                    let yPos = event.data.global.y;

                                    if (phase == "phase-1") {
                                        let text = new PIXI.Text(String(currentSquare) + "\rbasic", textStyle);

                                        // Create new PIXI text element for marker
                                        text.squareNumber = currentSquare
                                        text.squareType = "basic";
                                        text.interactive = true;
                                        text.buttonMode = true;
                                        text.dragging = false;
                                        text.defaultCursor = 'pointer';

                                        // Add marker to list and board
                                        squareMarkers.push(text);
                                        app.stage.addChild(text)
                                        text.anchor.x = .5;
                                        text.anchor.y = .5;
                                        text.x = xPos;
                                        text.y = yPos;

                                        currentSquare += 1;

                                        // Start of dragging/deleting action, tracks the starting position of the text being clicked
                                        text.on('mousedown', function (e) {
                                            text.dragging = true;
                                            text.startingPosX = text.x;
                                            text.startingPosY = text.y;
                                        });


                                         // Dragging action of marker
                                        text.on('mousemove', function (e) {
                                            // Every frame, set position of marker to cursor
                                            if (text.dragging) {
                                                text.x = e.data.global.x;
                                                text.y = e.data.global.y;
                                            }
                                        });


                                        // End dragging/deleting action of marker
                                        text.on('mouseup', function (e) {
                                            // Set marker's location to cursor's current location, one last time
                                            text.dragging = false;
                                            if (Math.round(text.startingPosX) == Math.round(text.x) && Math.round(text.startingPosY) == Math.round(text.y)) {
                                                changeSquareType(text.squareNumber);
                                                return;
                                            }
                                        });
                                    } else {
                                        // Check to see if the starting position is in fact almost the same as the ending position, in which case
                                        // The user didn't actually drag it and thus the marker should be deleted.
                                        text.on('mouseup', function (e) {
                                            text.dragging = false;
                                            if (Math.round(text.startingPosX) == Math.round(text.x) && Math.round(text.startingPosY) == Math.round(text.y)) {
                                                changeSquareType(text.squareNumber);
                                                return;
                                            }
                                        });

                                    }
                                if (currentSquare > 2) { document.getElementById("first-button").style.display = "initial"; }
                                }

                                function changeSquareType(squareNumber) {
                                    squareIndex = squareNumber - 1;
                                    if (phase == "phase-1") {
                                        deleteSquare(squareNumber);
                                        return;
                                    }
                                    if (phase == "phase-2") {
                                        if (squareMarkers[squareIndex].squareType == "basic" && selectedSquare == -1) {
                                            selectedSquare = squareIndex;
                                            return;
                                        }
                                        if (squareMarkers[squareIndex].squareType == "basic" && selectedSquare != -1) {
                                            if (selectedSquare == squareIndex) {
                                                selectedSquare = -1;
                                                return;
                                            }
                                            eventSquareNumber++;
                                            squareMarkers[squareIndex].squareType = "chute" + " " + eventSquareNumber;
                                            squareMarkers[selectedSquare].squareType = "chute" + " " + eventSquareNumber;
                                            squareMarkers[squareIndex].text = String(squareMarkers[squareIndex].squareNumber + "\r" + squareMarkers[squareIndex].squareType);
                                            squareMarkers[selectedSquare].text = String(squareMarkers[selectedSquare].squareNumber + "\r" + squareMarkers[selectedSquare].squareType);
                                            selectedSquare = -1;
                                            return;
                                        } else {
                                            selectedSquare = -1;
                                            deletePair(squareNumber);
                                            return;
                                        }
                                    }
                                    if (phase == "phase-3") {
                                        if (squareMarkers[squareIndex].squareType == "basic" && selectedSquare == -1) {
                                            selectedSquare = squareIndex;
                                            return;
                                        }
                                        if (squareMarkers[squareIndex].squareType == "basic" && selectedSquare != -1) {
                                            if (selectedSquare == squareIndex) {
                                                selectedSquare = -1;
                                                return;
                                            }
                                            eventSquareNumber++;
                                            squareMarkers[squareIndex].squareType = "ladder" + " " + eventSquareNumber;
                                            squareMarkers[selectedSquare].squareType = "ladder" + " " + eventSquareNumber;
                                            squareMarkers[squareIndex].text = String(squareMarkers[squareIndex].squareNumber + "\r" + squareMarkers[squareIndex].squareType);
                                            squareMarkers[selectedSquare].text = String(squareMarkers[selectedSquare].squareNumber + "\r" + squareMarkers[selectedSquare].squareType);
                                            selectedSquare = -1;
                                            return;
                                        }
                                        if (squareMarkers[squareIndex].squareType.includes("ladder")) {
                                            deletePair(squareNumber);
                                            selectedSquare = -1;
                                            return;
                                        } else { selectedSquare = -1;  return; }
                                    }

                                }

                                // Deletes the specified square number, and de-increments all square markers after it.
                                function deleteSquare(squareNumber) {
                                    squareIndex = squareNumber - 1;
                                    for(let i = squareIndex; i < squareMarkers.length; i++) {
                                        squareMarkers[i].squareNumber -= 1;
                                        squareMarkers[i].text = String(squareMarkers[i].squareNumber + "\r" + squareMarkers[i].squareType);
                                    }
                                    app.stage.removeChild(squareMarkers[squareIndex]);
                                    squareMarkers.splice(squareIndex, 1);
                                    currentSquare -= 1
                                }

                                function deletePair(squareNumber) {
                                    squareIndex = squareNumber - 1;
                                    var eventSquareIndex = parseInt(squareMarkers[squareIndex].squareType.split(" ").pop(), 10);
                                    var eventSquareString = squareMarkers[squareIndex].squareType;
                                    for (let i = 0; i < squareMarkers.length; i++) {
                                        if (squareMarkers[i].squareType == eventSquareString) {
                                            squareMarkers[i].squareType = "basic";
                                            squareMarkers[i].text = String(squareMarkers[i].squareNumber + "\r" + squareMarkers[i].squareType);
                                        }
                                    }
                                    eventSquareNumber--;
                                    for (let i = 0; i < squareMarkers.length; i++) {
                                        if (phase == "phase-2" && squareMarkers[i].squareType.includes("chute")) {
                                            var clip = squareMarkers[i].squareType.split(" ").pop();
                                            if (clip > eventSquareIndex) {
                                                var num = parseInt(clip, 10) - 1;
                                                squareMarkers[i].squareType = squareMarkers[i].squareType.replace(clip, num);
                                                squareMarkers[i].text = String(squareMarkers[i].squareNumber + "\r" + squareMarkers[i].squareType);
                                            }
                                        }
                                        if (phase == "phase-3" && squareMarkers[i].squareType.includes("ladder")) {
                                            var clip = squareMarkers[i].squareType.split(" ").pop();
                                            if (clip > eventSquareIndex) {
                                                var num = parseInt(clip, 10) - 1;
                                                squareMarkers[i].squareType = squareMarkers[i].squareType.replace(clip, num);
                                                squareMarkers[i].text = String(squareMarkers[i].squareNumber + "\r" + squareMarkers[i].squareType);
                                            }
                                        }

                                    }
                                }
                                
                                // Bind the addMarker function to clicking the board
                                board.on('pointerdown', onClick);
                            </script>

                        </div>
                        <div class="container-fluid ml-4 mb-4 justify-content-center" style="font-size: x-large">
                            <h1 class="mt-4 mb-4">Instructions:</h1>
                            <p> Click on the center of each square on the board to the left, in the order of where the players should go!</p>
                            <p> If you misplaced a square marker, simply drag and drop it to its correct location.</p>
                            <p> To pair square markers as chutes or ladders, click on the desired square pair in any order, and they will be updated!</p>
                            <p> To delete a square marker, click on it until it disappears!</p>
                            <p> When you're done, click the button below! </p>
                            <div style="width: 100%; text-align: center;">
                                <button class="btn btn-primary" id="first-button" style="display: none" onclick="submit();">I've added all my squares!</button>
                                <button class="btn btn-primary" id="second-button" style="display: none" onclick="submit();">I've added all my chutes!</button>
                                <button class="btn btn-primary" id="third-button" style="display: none" onclick="submit();">I've added all my ladders!</button>
                                <button class="btn btn-primary" id="submit-button" style="display: none" onclick="submit();">Done!</button>
                            </div>
                        </div>

                            <script>

                                // Sends data about the board via a POST method to the backend.
                                //
                                // Due to the relative difficulty to make a POST method without using a form, this function essentially
                                // creates an invisible form that has fields that are already filled in (from the data collected above)
                                // that is then submitted and thus creates a POST request with all of the data to the backend, which then
                                // processes the information and adds it to the user's session and the database.
                                function post(path, lst) {
                                    // Create the invisible form, set the method (POST) and the URL to send to. 
                                    const form = document.createElement('form');
                                    form.method = 'POST';
                                    form.action = path;

                                    // Create an invisible input field for each square marker to send its data to the backend
                                    for (let i = 0; i < lst.length; i++) {
                                        let hiddenField = document.createElement('input');
                                        hiddenField.type = 'hidden';
                                        // The name of the field (which is it's key in the key-value pair) is simply the index of the 
                                        // square (e.g. 0 = square marker 1, 1 = square marker 2, etc.)
                                        hiddenField.name = String(i);
                                        // This is very unprofessional and inefficient, but due to the nature of the input field (only accepts strings)
                                        // it was the simplest solution. We concatenate the x coordinate and y coordinate of the square object
                                        // and add a space in between to split them. The backend then unsplits it and re-parses it back to float coordinates.
                                        hiddenField.value = String(lst[i].x) + " " + String(lst[i].y) + " " + lst[i].squareType;
                                        form.appendChild(hiddenField);
                                    }

                                    // Add one more element for the total number of square markers. This is then used in a range loop in the backend
                                    // as keys to get all values from the square input fields above.
                                    let lstLength = document.createElement('input');
                                    lstLength.type = 'hidden';
                                    lstLength.name = 'maxSquareNumber';
                                    lstLength.value = String(lst.length);
                                    form.appendChild(lstLength);

                                    // Submit the form, completing the process and sending all coordinates to the backend.
                                    // TODO: either stop using this inefficient and dumb form method (https://stackoverflow.com/questions/29987323/how-do-i-send-data-from-js-to-python-with-flask)
                                    // OR add more fields to describe the behavior of each square marker (chute, ladder, stop, etc.)
                                    // Ideally, the post method would send a JSON object, with keys and values like:
                                    // {
                                    //     "0": { // (square 1, no special behavior)
                                    //         "x": 200,
                                    //         "y": 400,
                                    //         "isDefault": true,
                                    //         "behavior": null,
                                    //         "partner": null,
                                    //     },
                                    //     "1": { (square 1, ladder to 2 (redundant, but for sake of example))
                                    //         "x": 250,
                                    //         "y": 400,
                                    //         "isDefault": false,
                                    //         "behavior": "ladder",
                                    //         "partner": 2,
                                    //     }
                                    //     "2": { (square 2, ladder from 1)
                                    //         "x": 300,
                                    //         "y": 400,
                                    //         "isDefault": false,
                                    //         "behavior": "ladder",
                                    //         "partner": 1,
                                    //     }
                                    // }
                                    // Which can then be parsed by the python backend through the key-value pairs to record this data and 
                                    // save it to the database.
                                    document.body.appendChild(form);
                                    form.submit();
                                }

                                function submit() {
                                    if (phase == "phase-1") {
                                        document.getElementById("first-button").remove();
                                        document.getElementById("second-button").style.display = "initial";
                                        phase = "phase-2";
                                        eventSquareNumber = 0;
                                        return;
                                    }
                                    if (phase == "phase-2") {
                                        document.getElementById("second-button").remove();
                                        document.getElementById("third-button").style.display = "initial";
                                        phase = "phase-3";
                                        eventSquareNumber = 0;
                                        return;
                                    }
                                    if (phase == "phase-3") {
                                        document.getElementById("third-button").remove();
                                        document.getElementById("submit-button").style.display = "initial";
                                        phase = "end";
                                        eventSquareNumber = 0;
                                        return;
                                    } else { post("/setup_finish", squareMarkers); }
                                }
                                
                            </script>
                        </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
