<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Hygiene Heroes Board Game Engine</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">urapBoardGame</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark" href="/">1. Upload Image</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark" href="/setup_board">2. Setup Board</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark" href="/gamepiece">3. Upload Game Elements</a>
                    <!-- <a class="list-group-item list-group-item-dark p-3 text-muted" href="#!">4. Set Game Rules</a>
                    <a class="list-group-item list-group-item-dark p-3 text-muted" href="#!">5. Add Sound Effects</a>
                    <a class="list-group-item list-group-item-dark p-3 text-muted" href="/game">6. Final Touches</a> -->
                    <a class="list-group-item list-group-item-dark p-3 text-muted" href="/game">4. Final Touches</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Toggle</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="#!">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#!">Projects</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">My Account</a>
                                        <a class="dropdown-item" href="#!">Logout</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Register</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid d-flex flex-column justify-content-between">
                    <div class="container-fluid mb-4">
                        <h1 class="mt-4">Upload/Choose Game Pieces</h1>
                        <p>Step 3: Please upload your dice and player images here (png and jpgs preferred)</p>
                        <form action="/piece_uploader" method="POST" enctype="multipart/form-data">
                            <h3> Dice </h3>
                            <table class="table table-hover align-vertical" id="dice-upload-table">
                                <thead>
                                  <tr>
                                    <th width="10%" scope="col">Dice Side</th>
                                    <th width="20%" scope="col">Image</th>
                                    <th width="50%" scope="col">Preview</th>
                                    <th width="20%" scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr scope="row" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondrop="drop(event)" ondragover="dragOver(event)">
                                    <th scope="row">1</th>
                                    <td><input class="form-control drag-area" type="file" accept=".jpg,.jpeg,.png"  name="dice1" onchange="loadFile(event, 'dice-1')"></td>
                                    <td><img id="dice-1" width="10%" /></td>
                                    <td><button type=button class="btn btn-primary mx-4" onclick="addRow('dice')" id="adddice">+</button><button type=button class="btn btn-danger" onclick="deleteRow('dice')" id="deletedice">-</button></td>
                                  </tr>
                                </tbody>
                              </table>

                              <h3 class="mt-5"> Player Pieces </h3>
                            <table class="table table-hover align-vertical" id="player-upload-table">
                                <thead>
                                  <tr> 
                                    <th width="10%" scope="col">Player</th>
                                    <th width="20%" scope="col">Image</th>
                                    <th width="50%" scope="col">Preview</th>
                                    <th width="20%" scope="col"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr scope="row" ondragenter="dragEnter(event)" ondragleave="dragLeave(event)" ondrop="drop(event)" ondragover="dragOver(event)">
                                    <th>1</th>
                                    <td><input class="form-control drag-area" type="file" accept=".jpg,.jpeg,.png"  name="player1" onchange="loadFile(event, 'player-1')"></td>
                                    <td><img id="player-1" width="10%" /></td>
                                    <td><button type=button class="btn btn-primary mx-4" onclick="addRow('player')" id="addplayer">+</button><button type=button class="btn btn-danger" onclick="deleteRow('player')" id="deleteplayer">-</button></td>
                                  </tr>
                                </tbody>
                              </table>
                              <button type="submit" class="btn btn-primary" style="display: none" id="submit">Submit</button>
                        </form>
                        <script>
                            var tableCurrentRow = new Object();
                            const upload_button = "<input class='form-control drag-area' type='file' accept='.jpg,.jpeg,.png'  name='file'>"
                            const gamepiece_img = "<td><img width='10%' /></td>"

                            var loadFile = function(event, imgId) {
                                var image = document.getElementById(imgId);
                                image.src = URL.createObjectURL(event.target.files[0]);
                                showSubmit();
                            };

                            var addRow = function(pieceType) {
                                if (tableCurrentRow[pieceType] == null) {
                                    tableCurrentRow[pieceType] = 1
                                }
                                tableCurrentRow[pieceType] += 1

                                tBody = document.getElementById(pieceType + "-upload-table").getElementsByTagName('tbody')[0];
                                var newRow = tBody.insertRow();
                                newRow.setAttribute("ondragenter","dragEnter(event)")
                                newRow.setAttribute("ondragleave","dragLeave(event)")
                                newRow.setAttribute("ondragover", "dragOver(event)")
                                newRow.setAttribute("ondrop","drop(event)")

                                var cell0 = document.createElement('th');
                                cell0.innerHTML = tableCurrentRow[pieceType]
                                newRow.appendChild(cell0);
                                
                                var cell1 = newRow.insertCell();
                                cell1.innerHTML = upload_button;
                                cell1.children[0].setAttribute("name", pieceType + tableCurrentRow[pieceType]);
                                cell1.children[0].setAttribute("onchange", "loadFile(event, " + "'" + pieceType + "-" + tableCurrentRow[pieceType] +"')")

                                var cell2 = newRow.insertCell();
                                cell2.innerHTML = gamepiece_img;
                                cell2.children[0].id = pieceType + '-' + tableCurrentRow[pieceType]

                                var cell3 = newRow.insertCell();
                                cell3.appendChild(document.getElementById("add" + pieceType))
                                cell3.appendChild(document.getElementById("delete" + pieceType))
                                
                            }

                            var deleteRow = function(pieceType) {
                                if (tableCurrentRow[pieceType] == null) {
                                    tableCurrentRow[pieceType] = 1
                                }
                                tableCurrentRow[pieceType] -= 1;

                                if (tableCurrentRow[pieceType] > 0) {
                                    previousRow = document.getElementById(pieceType + "-upload-table").rows[tableCurrentRow[pieceType]]
                                    previousRow.children[3].appendChild(document.getElementById("add" + pieceType))
                                    previousRow.children[3].appendChild(document.getElementById("delete" + pieceType))
                                }

                                document.getElementById(pieceType + "-upload-table").deleteRow(-1);
                            }
                        </script>
                    </div>
                    <div class="container-fluid d-flex flex-column justify-content-between mt-4 ">
                        <div class="container my-3 mx-0 px-0">
                            <form action="/select_image" method="POST">
                                <h2 class="font-weight-light">Or use one of the below by dragging and dropping it onto the cell!</h2>
                                <div class="container-fluid d-flex flex-row mb-3">
                                    <div class="col-lg-12 col-md-10">
                                        <div class="horizontal-scroll-container cc-selector justify-content-center py-3">
                                            {% for dice in dice_sides %}
                                            <input type="radio" name="selected-dice" value="{{ dice }}" id="{{ dice }}"/>
                                            <label class="carousel-button dice-button" for="{{ dice }}" style="background-image: url('{{ dice }}');" draggable="true" ondragstart="startDragPiece(event)" ondragend="endDragPiece(event)"></label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid d-flex flex-row">
                                    <div class="col-lg-12 col-md-10 ">
                                        <div class="horizontal-scroll-container cc-selector justify-content-center py-3">
                                            {% for player in player_pieces %}
                                            <input type="radio" name="selected-player" value="{{ player }}" id="{{ player }}"/>
                                            <label class="carousel-button player-button" for="{{ player }}" style="background-image: url('{{ player }}');" draggable="true" ondragstart="startDragPiece(event)" ondragend="endDragPiece(event)"></label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <script>
                                function startDragPiece(event) {
                                    console.log("dragging", event.target.getAttribute("for"))
                                    event.dataTransfer.setData('dragItem', event.target.getAttribute("for"))
                                }

                                function endDragPiece(event) {
                                    console.log("stopped dragging")
                                }

                                function dragEnter(event) {
                                    if (!event.target.classList.contains("drag-area")) {
                                        return
                                    }
                                    event.preventDefault();
                                    event.target.classList.add('drag-over');
                                }

                                function dragLeave(event) {
                                    if (!event.target.classList.contains("drag-area")) {
                                        return
                                    }
                                    event.preventDefault();
                                    event.target.classList.remove('drag-over');
                                }
                                
                                function drop(event) {
                                    let element = event.target;
                                    let imageSrc = event.dataTransfer.getData("dragItem")
                                    if (!element || !element.classList.contains("drag-area")) {
                                        return
                                    }
                                    element.classList.remove('drag-over');
                                    element.setAttribute("type", "text")
                                    element.setAttribute("readonly", "readonly")
                                    element.setAttribute("value", imageSrc)

                                    let imgElement = element.parentElement.nextElementSibling.children[0]
                                    imgElement.src = imageSrc
                                    showSubmit();
                                    console.log(imgElement)
                                }

                                function dragOver(event) {
                                    event.preventDefault();
                                }

                            </script>
                            <script>
                                var showSubmit = function() {
                                    var submit = document.getElementById('submit');
                                    submit.style.display = "initial";
                                };
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
